<footer class="row">
    <div class="col col-third left">
    
    </div>
    <div class="col col-third center">
        {{ 'pdf.page.number'|trans|raw }}
    </div>
    <div class="col col-third right">
    
    </div>
</footer>