<header class="row">
    <div class="col col-half left">
        {{ 'pdf.page.title'|trans|raw }}
    </div>
    <div class="col col-half right">
        {{ 'pdf.page.date'|trans|raw }}
    </div>
</header>