<section class="cover">
    <div class="text row">
        <div class="col col-border">&nbsp;</div>
        <div class="col col-content">
            <h1 class="title">{{ person.name }}</h1>
            <p class="tagline">{{ person.tagline|splitmerge|raw }}</p>
            <p class="subtitle">{{ 'cover.subtitle'|trans }}</p>
        </div>
    </div>
</section>
